@use "reset";
@use "util" as * with (
  $min-width: 1380,
  $max-width: 1920
);

// `src/_includes/` 디렉토리 내의 파일은 경로 없이 `@use`, `@import` 할 수 있습니다.
// Sass 파일은 컴파일 된 후 PostCSS로 후처리됩니다.

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:root {
  --gutter: #{fv(20)};
}

body {
  padding: 0 var(--gutter, 0);
  margin: 0;
}

a {
  color: var(--color-primary, currentColor);
}

:--heading {
  text-transform: uppercase;
}

.bg {
  background-image: url("/img/bg.jpg");
}

.bg--relative {
  background-image: url("../img/bg.jpg");
}
